
@{
    ViewBag.Title = "Addoctor";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Addoctor</h2>
<center style="margin-top:20px">

    <form action="" method="post" style="min-height:100px">

        <input type="text" name="Name" class="form-control" placeholder="Name" />
        <label class="text-danger">@Html.ValidationMessage("Name")</label><br />

        <input type="password" name="Password" class="form-control" placeholder="Password" />
        <br />

        <input type="number" name="Age" class="form-control" placeholder="Age" />
        <label class="text-danger">@Html.ValidationMessage("Age")</label><br />

        <div style="width: 200px; border:5px; border-color:black;">
            Gender <input type="radio" name="Gender" value="Male" />  Male
            <input type="radio" name="Gender" value="Female" /> Female
        </div>
        <label class="text-danger">@Html.ValidationMessage("Gender")</label><br />

        <input type="text" name="Email" class="form-control" placeholder="Email" />
        <label class="text-danger">@Html.ValidationMessage("Email")</label><br />

        <input type="text" name="Phone_no" class="form-control" placeholder="Phone number" />
        <label class="text-danger">@Html.ValidationMessage("Phone_no")</label><br />

        <input type="hidden" name="type" class="form-control" value="D" />

        <select id="Blood_group" name="Blood_group" class="form-control">
            <option value="">Select Blood Group</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
        </select>
        <label class="text-danger">@Html.ValidationMessage("Blood_group")</label><br />
        <input type="text" name="Department" class="form-control" placeholder="Department" />
        <label class="text-danger">@Html.ValidationMessage("Department")</label><br />
        <input type="text" name="Degree" class="form-control" placeholder="Degree" />
        <label class="text-danger">@Html.ValidationMessage("Degree")</label><br />
        <input type="text" name="Salary" class="form-control" placeholder="Salary" />
        <label class="text-danger">@Html.ValidationMessage("Salary")</label><br />

        <input type="submit" value="Register" class="btn btn-success" />
    </form>
</center>

