@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Doctor/Index" method="post">
    <input type="text" name="Name" class="form-control" value="@Model.Name" placeholder="Name" />
    <label class="text-danger">@Html.ValidationMessage("Name")</label><br />
    <input type="text" name="Date_of_birth" class="form-control" value="@Model.Date_of_birth" placeholder="Date of birth" />
    <label class="text-danger">@Html.ValidationMessage("Date_of_birth")</label><br />
    <input type="text" name="Qualification" class="form-control" value="@Model.Qualification" placeholder="Qualification" />
    <label class="text-danger">@Html.ValidationMessage("Qualification")</label><br />
    <input type="text" name="Address" class="form-control" value="@Model.Address" placeholder="Address" />
    <label class="text-danger">@Html.ValidationMessage("Address")</label><br />
    <input type="submit" value="Create" class="btn btn-success" />
</form>
